<div>
    <div class="nav-container">
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a href="/" class="navbar-brand logo"><span style="color: red;">Drive</span> Uploader</a>
            <div class="user">
                <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg"
                    width="40" height="40" class="rounded-circle">
                <span class="mx-2">Sasitha Layan</span>
                <button class="btn btn-outline-danger">Logout</button>
            </div>

        </nav>
    </div>
</div>