<div>
    <div class="nav-container">
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a href="/" class="navbar-brand logo"><span style="color: red;">Drive</span> Uploader</a>
            <div class="user">
                <img src="<%=photo%>"
                    width="40" height="40" class="rounded-circle">
                <span class="mx-2" id="name"><%=name%></span>
                <button class="btn btn-outline-danger">Logout</button>
            </div>

        </nav>
    </div>
</div>