<% 

var name = name;
var photo = photo;
var success = success;
var auth = auth;

%>
<%- include('header', {name:name,photo:photo,success:success,auth:auth}); -%>

<div>
    
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3>Files and Folders in Your Drive</h3>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Upload Files</h3>
                    </div>
                    <div class="card-body ">
                        <% if(success){ %>
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Success!</strong> File has been uploaded to the drive.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <% } %>
                        <form action="/upload" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="file" name="file" class="form-control mt-5" required />
                                <input type="submit" class="btn btn-block btn-success form-control mt-5"
                                    value="UPLOAD" />
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<%- include('footer'); -%>